<html>
  <head>

    <meta charset="utf-8">

    <title>Clip Launcher</title>

    <link href="lib/skeleton/css/normalize.css" rel="stylesheet">
    <link href="lib/skeleton/css/skeleton.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <script src="lib/angular/angular.min.js"></script>
    <script src="main.js"></script>

  </head>
  <body ng-app="clip-launcher">
    <div class="container" ng-controller="List">

      <div class="row">
        <input file-reader type="file" multiple />
      </div>

      <table class="u-full-width">
        <tr>
          <th>File</th>
          <th>Audio</th>
          <th>Key Binding</th>
        </tr>
        <tbody>
          <tr ng-repeat="clip in clips">
            <td>{{clip.name}}</td>
            <td><audio-clip src="clip"></td>
            <td><button ng-class="{'button': !clip.setting, 'button-primary': clip.setting}" ng-click="setKey($index)">{{clip.key}}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
